body {
    margin: 0;
    background-color: antiquewhite;

}

nav {
    text-align: right;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: right;
    background-color: rgb(173, 147, 114);
   
  }
  nav a {
    color: rgb(16, 14, 11);
    font-style: italic;
  }
  nav a:hover {
     color: whitesmoke; 
  }

  h1 {
    font-family: 'Dancing Script', cursive; 
    font-size: 50px;
    text-align: center;
    color:black;
  }
  h2 {
    color:rgb(16, 14, 11);
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    
  }

  footer {
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(173, 147, 114);
    padding: 20px;
    color: rgb(48, 41, 32);
    cursor: progress;
    display: flex;
    justify-content: center;
  }
  
  footer a {
    color: rgb(16, 14, 11);
    font-style: italic;
    cursor: progress;

  }
  footer a:hover {
    color: whitesmoke;
    text-decoration: underline;
  }

  link a {
    color: rgba(24, 106, 24, 0.721);
    text-decoration: none;
  }

  link a:hover {
    color: whitesmoke;
  }
  .intro-section {
    padding-left: 2%;

  }

  .mid-section {
    padding-left: 2%;
    padding-bottom: 1%;

  }

  .skills-section {
    background-color: rgb(229, 210, 186);
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
  }

  a {
    text-decoration: none;
    color: rgb(84, 72, 57);
  }
  a:hover {
    text-decoration: underline;
    color: white;
  }

  hr {
    border-style: groove;
    border-color: white;
    border-width: 4px;
  }
  
  .one-col {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
    background-color: rgb(245, 242, 228);  
    border-radius: 10px; 
    margin: 20px auto; 
  
}
.one-col form {
    width: 75%; 
}
.one-col label {
    font-weight: bold;
}

.one-col input[type="text"],
.one-col textarea {
    width: 100%;
    font-weight: bold;
    padding: 14px;
    margin: 5px 5px;
}

.one-col input[type="submit"] {
    background-color: rgb(173, 147, 114); 
    color: black; 
    padding: 10px 10px;
   
}
.one-col input[type="submit"]:hover {
    background-color: rgb(79, 70, 58); 
}
.imageBar {
    
    position: absolute;
    top: 10px;
    left: 30px;
    border: 10px solid rgb(54, 43, 29); 
    border-radius: 10px;
    margin: 5px; 
}
.imageBar2 {
    
    position: absolute;
    top: 40px;
    left: 40px;
    margin: 5px; 
}
.card {
    background-color: rgba(94, 165, 94, 0.421); 
    box-shadow: 0 4px 8px rgb(21, 18, 13) (0, 0, 0, 0.2); 
    border: 1px solid rgb(22, 15, 15); 
    border-radius: 20px;
    padding: 20px; 
    margin: 20px; 
    
}

.card img {
    border-radius: 50%;

}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 5px; 

}

.language-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 

}

.skills-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
}

.experience-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 5px; 
}

